html, body {
	font-family: arial;
	width: 300px;
	padding: 0;
	margin: 0;
}

body {
	border-style: solid;
	border-color: black;
}

header {
	background-color: gray;
	text-align: center;
}

main {
}


footer {
}

img {
	max-width: 100%;
	max-height: 100%;
	margin: 1px;
}

h1 {
	font-size: 1.8rem;
	margin: 0px;
	padding: 1rem;
}

h2 {
	font-size: 1.5rem;
}

.preloader-wrapper.super-small {
  width: 12px;
  height: 12px;
}


.green-font {
	color: green;
}

.black-font {
	color: black;
}

#actions {
}

#instructions {
}

