html, body {
	font-family: arial;
	width: 300px;
	padding: 0;
	margin: 0;
}

header {
	background-color: gray;
	text-align: center;
}

main {
}


footer {
}


.preloader-wrapper.super-small {
  width: 12px;
  height: 12px;
}

.title {
	color: white;
}

#actions {
}

#instructions {
}

