html, body {
	font-family: arial;
	width: 260px;
	padding: 0;
	margin: 0;
}

h1 {
	color: rgb(220, 220, 220);
	font-size: 1em;
	margin: 0;
	text-decoration: none;
}

td {
	padding: 4px;
	vertical-align: top;
}

header {	
	text-align: center;
	background: rgb(80, 80, 80);
	color: white;
}

.hidden {
	display: none;
}


.state {
	display: inline;
	margin-top: 10px;
	padding-top: 4px;
	width: 50%;
}

.button {
	margin: 4px;
	padding: 4px;
    text-align: center;
    cursor: pointer;
}

.chooser {
	float: right;
	display: inline;
	width: 39%;
}

.chooser {
  background-color: #E5F2F2;
}

.chooser:hover {
  background-color: #CFF2F2;
}
